[submodule "ounit"]
	path = ounit
	url = git@github.com:Hyrtwol/odin-ounit.git
[submodule "coreclr"]
	path = coreclr
	url = git@github.com:Hyrtwol/odin-coreclr.git
[submodule "fmodex"]
	path = fmodex
	url = git@github.com:Hyrtwol/odin-fmodex.git
[submodule "wasmtime"]
	path = wasmtime
	url = git@github.com:Hyrtwol/odin-wasmtime.git
[submodule "z80"]
	path = z80
	url = git@github.com:Hyrtwol/odin-z80.git
[submodule "xterm"]
	path = xterm
	url = git@github.com:Hyrtwol/odin-xterm.git
[submodule "newton_dynamics"]
	path = newton_dynamics
	url = git@github.com:Hyrtwol/odin-newton-dynamics.git
[submodule "newtek_lightwave"]
	path = newtek_lightwave
	url = git@github.com:Hyrtwol/odin-newtek-lightwave.git
[submodule "flac"]
	path = flac
	url = git@github.com:Hyrtwol/odin-flac.git
[submodule "xatlas"]
	path = xatlas
	url = git@github.com:Hyrtwol/odin-xatlas.git
