[submodule "ounit"]
	path = ounit
	url = git@github.com:Hyrtwol/odin-ounit.git
[submodule "coreclr"]
	path = coreclr
	url = git@github.com:Hyrtwol/odin-coreclr.git
[submodule "fmodex"]
	path = fmodex
	url = git@github.com:Hyrtwol/odin-fmodex.git
